#mainText {
    text-align: left;
    font-weight: bolder;
    font-size: 60;
    font-family: 'Montserrat';
    margin-left: 15%;
    padding-top: 10%;
    text-shadow: 5px 5px 10px purple;
}

#secondText {
    text-align: left;
    font-size: 27;
    font-family: 'Montserrat';
    margin-left: 15%;
    text-shadow: 5px 5px 10px purple;
}
